@keyframes intro {
    0% {
        background-size: 0%;
        background-image: url('../assets/animations/frame9.svg');
    }
    10% { 
        background-image: url('../assets/animations/frame1.svg');
    }
    20% {
        background-image: url('../assets/animations/frame2.svg');
    }
    22% {
        background-size: 25%; 
        background-image: url('../assets/animations/frame3.svg');
    }
    30% {
        background-image: url('../assets/animations/frame2.svg');
    }
    32% {
        background-image: url('../assets/animations/frame4.svg');
    }
    40% {
        background-image: url('../assets/animations/frame2.svg');
    }
    42% {
        background-image: url('../assets/animations/frame5.svg');
    }
    50% {
        background-image: url('../assets/animations/frame2.svg');
    }
    52% {
        background-image: url('../assets/animations/frame6.svg');
    }
    60% {
        background-image: url('../assets/animations/frame2.svg');
    }
    62% {
        background-image: url('../assets/animations/frame7.svg');
    }
    66% {
        background-size: 25%;
        background-image: url('../assets/animations/frame8.svg');
    }
    70% {
        background-image: url('../assets/animations/frame10.svg');
    }  
    80% {
        background-image: url('../assets/animations/frame11.svg');
    }   
    90% {
        background-size: 30%;
    }
    100% {
        background-size: 0%;
        background-image: url('../assets/animations/frame11.svg');
    }
}

body {
    margin: 0;
}

.canvas {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

.canvas.animate {
    -webkit-animation: intro 8s infinite;
    -moz-animation: intro 8s infinite;
    -o-animation: intro 8s infinite;
    animation: intro 8s infinite;
}